#Team1 {
  color: red;

}

#Team2 {
  color: blue;
}

#oneDiv p, #oneDiv h1 {
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
 }

#oneDiv {
  padding-left: 154px;
}

 h1 {
   font-size: 32px;
 }

#twoDiv p, #twoDiv h1 {
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
}

button {
background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
}

/* Custom */
button {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
}
